@using BankAdministration.Web.Models

@model Account

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (Model.Transactions.Count == 0)
        {
            <div>Jelenleg nincs tranzakció.</div>
            <a asp-controller="Transaction" asp-action="Index" asp-route-accountId="@Model.Id"><button class="btn btn-success">Új utalás</button></a>
        }
        else
        {
                @foreach (Transaction transaction in Model.Transactions)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@transaction.DestinationAccountName</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@transaction.Amount Ft</h6>
                        </div>
                    </div>
                }
            <a asp-controller="Transaction" asp-action="Index" asp-route-accountId="@Model.Id"><button class="btn btn-success">Új utalás</button></a>
        }
    </div>
</body>
</html>